name: Continuous Deployment Pipeline

on:
    push:
        branches:
            - "main"
        paths:
            - "backend/**"
            - ".github/workflows/deploy.yaml"
            - "docker-compose.yml"
            - "Dockerfile"
            - "metaploy/**"

jobs:
    dockerhub:
        name: Publish Docker Image(s) to Dockerhub
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Cache Docker layers for CFMN Backend
              uses: actions/cache@v3
              with:
                  path: /tmp/.buildx-cache-cfmn-backend
                  key: ${{ runner.os }}-buildx-cfmn-backend-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-buildx-cfmn-backend-

            - name: Build & Push cfmn Backend
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/cfmn-backend:latest
                  build-args: |
                      VITE_GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
                  cache-from: type=local,src=/tmp/.buildx-cache-cfmn-backend
                  cache-to: type=local,dest=/tmp/.buildx-cache-cfmn-backend-new,mode=max

            - name: Move cfmn cache
              run: |
                  rm -rf /tmp/.buildx-cache-cfmn-backend
                  mv /tmp/.buildx-cache-cfmn-backend-new /tmp/.buildx-cache-cfmn-backend

    push:
        name: Push Code Stage
        needs: dockerhub
        runs-on: ubuntu-latest

        steps:
            - name: Sync local repo with remote repo
              uses: appleboy/ssh-action@master
              env:
                  PROJECT_DIR: ${{ vars.PROJECT_DIR }}
              with:
                  host: ${{ secrets.SSH_HOSTNAME }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  passphrase: ${{ secrets.SSH_PRIVATE_KEY_PASSPHRASE }}
                  envs: PROJECT_DIR
                  script: |
                      cd "${PROJECT_DIR}"
                      sudo git fetch origin
                      sudo git reset --hard origin/main

    pull:
        name: Pull Image Stage
        needs: push
        runs-on: ubuntu-latest

        steps:
            - name: Pull the latest images(s)
              uses: appleboy/ssh-action@master
              env:
                  PROJECT_DIR: ${{ vars.PROJECT_DIR }}
              with:
                  host: ${{ secrets.SSH_HOSTNAME }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  passphrase: ${{ secrets.SSH_PRIVATE_KEY_PASSPHRASE }}
                  envs: PROJECT_DIR
                  script_stop: true
                  script: |
                      cd "${PROJECT_DIR}"
                      sudo docker compose pull

    deploy:
        name: Deploy Stage
        needs: pull
        runs-on: ubuntu-latest

        steps:
            - name: Deploy the latest build(s)
              uses: appleboy/ssh-action@master
              env:
                  PROJECT_DIR: ${{ vars.PROJECT_DIR }}
              with:
                  host: ${{ secrets.SSH_HOSTNAME }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  passphrase: ${{ secrets.SSH_PRIVATE_KEY_PASSPHRASE }}
                  envs: PROJECT_DIR
                  script: |
                      cd "${PROJECT_DIR}"
                      sudo docker compose down
                      sudo docker compose --profile prod up -d

